/* This sets the color for "TK" nodes to a light blue green. */
g.type-TK > rect {
    fill: #00ffd0;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
}

.node rect, .node polygon {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

#src-container {
    width: 70%;
    float: right;
}

#cfg-container {
    width: 70%;
    right: 0;
    position: absolute;
    height: 85%;
}

#cfg-container > svg {
    width: 100%;
    height: 100%;
}

#loc-container, #loc2-container {
    width: 30%;
    float: left;
}

/* display line number in each line TODO do we want that? */
.prettyprint ol.linenums > li {
    list-style-type: decimal;
}

#arguments {
    min-width: 600px;
    max-height: 600px;
    overflow-y: auto;
    position: absolute;
}

li.dropdown {
    position: relative;
    display: inline-block;
}

.form-horizontal .form-group {
    margin-right: 0;
}

.panel-heading .panel-title:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: grey; /* adjust as needed */
}

.panel-heading.collapsed .panel-title:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
}

.lock:after {
    padding-left: 2px;
    font-family: 'Glyphicons Halflings';
    content: "\e033";
    color: grey;
}

#file-selector {
    height: 400px;
    overflow-y: scroll;
}

.glyphicon-folder-open {
    color: #DAA501;
}

.glyphicon-file {
    color: grey;
}