/* This sets the color for "TK" nodes to a light blue green. */
g.type-TK > rect {
    fill: #00ffd0;
}

text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
}

.node rect, .node polygon {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}

#cfg-container, #src-container {
    width: 50%;
    float: right;
}

#loc-container {
    width: 50%;
    float: left;
}

/* display line number in each line TODO do we want that? */
.prettyprint ol.linenums > li {
    list-style-type: decimal;
}