/* graph related css properties */
text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
}

.node rect, .node polygon {
    stroke: #999;
    fill: #fff;
    stroke-width: 2px;
}

.edgePath path {
    stroke: #333;
    stroke-width: 1px;
}

/* site layout related properties */
.nav.nav-tabs {
    height: 42px;
}

#tabs {
    margin-top: 42px;
}

#tabs, #cfg-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#cfg-div {
    margin-top: 34px;
}

svg.cfg {
    height: 99%;
    width: 100%;
}

.tab-pane {
    height: 100%;
}

#cfg-container, #src-container {
    width: 70%;
    float: left;
}

#src-container {
    height: 100%;
    margin: 0;
    overflow-y: auto;
}

#cfg-container {
    height: 100%;
    position: relative;
}

#loc-container, #loc2-container {
    width: 30%;
    float: left;
    max-height: 100%;
    overflow-y: auto;
}

/* display line number in each line TODO do we want that? */
.prettyprint ol.linenums > li {
    list-style-type: decimal;
}

#arguments {
    min-width: 600px;
    max-height: 600px;
    overflow-y: auto;
    position: absolute;
}

li.dropdown {
    position: relative;
    display: inline-block;
}

.form-horizontal .form-group {
    margin-right: 0;
}

.panel-heading .panel-title:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading.collapsed .panel-title:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
}

.lock:after {
    padding-left: 2px;
    font-family: 'Glyphicons Halflings';
    content: "\e033";
    color: grey;
}

.glyphicon-folder-open {
    color: #DAA501;
}

.glyphicon-file {
    color: grey;
}

/* the help text that is shown after clicking the ? next to the search bar */
#search-help {
    position: absolute;
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#search-help > table {
    width: 100%;
    margin-left: 20px;
}

#search-help td {
    padding-bottom: 5px;
}

#message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 10;
}